[Desktop Entry]
Version=1.0
Name=ロック
Comment=画面をロックする
Exec=dm-tool switch-to-greeter
Icon=system-lock-screen
Terminal=false
Type=Application
Categories=System
